<div class="wrapper">
  <div class="vl-section block cap">
    <h1 class="center">ng-virtual-grid</h1>
    <p class="l">Maximum performance for extremely large grids</p>
    <p class="l">Animation of elements is supported.</p>
    <p class="l m">&#64;author: djonnyx&#64;gmail.com</p>
    <img class="logo" [src]="logo" />
    <div class="version"><span>v 19.0.0-beta-9</span></div>
  </div>

  <div class="vl-section">
    <div class="vl-section__container">
      <h2>Virtual grid</h2>
      <ng-virtual-grid class="grid" [items]="groupItems"
        [itemRenderer]="itemRenderer" [itemSize]="90" [rowSize]="40" [bufferSize]="2" [maxBufferSize]="10"></ng-virtual-grid> <!-- [stickyMap]="groupItemsStickyMap" -->
    </div>
  </div>

  <div class="vl-section">
    <div class="vl-section__container">
      <h2>Virtual grid (dynamic row size with resize)</h2>
      <ng-virtual-grid class="grid" [items]="groupDynamicItems" [resizeRowsEnabled]="true" [resizeColumnsEnabled]="true"
        [itemRenderer]="itemRenderer" [itemSize]="300" [rowSize]="200" [bufferSize]="5"></ng-virtual-grid> <!-- [stickyMap]="groupDynamicItemsStickyMap" -->
    </div>
  </div>

  <ng-template #itemRenderer let-data="data" let-measures="measures">
    @if (data) {
      <div class="grid__item-container">
        <span>{{data.value}}</span>
      </div>
    }
  </ng-template>
</div>