// reset
button,
input {
    margin: 0;
    border: 0;
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    white-space: normal;
    background: none;
    line-height: 1;

    /* Browsers have different default form fonts */
    font-size: 13px;
    font-family: Arial;
}

// reset ng-virtual-grid-item styles
.grid::part(grid-item) {
    font-size: 13px;
    background-color: inherit;
    box-sizing: border-box;
    transition: background-color ease-out 100ms;

    &:hover {
        background-color: rgb(46, 46, 51);
    }
}

.grid::part(item-row-odd) {
    background-color: #1a1a1e;
    box-sizing: border-box;
    transition: background-color ease-out 100ms;

    &:hover {
        background-color: #1f1f24;
    }
}

.grid::part(item-row-even) {
    background-color: #1d1d21;
    box-sizing: border-box;
    transition: background-color ease-out 100ms;

    &:hover {
        background-color: #232327;
    }
}

.grid::part(item-sticky) {
    font-weight: bold;
    background-color: #25252b;
    box-sizing: border-box;

    &:hover {
        background-color: #28282e;
    }
}

.grid::part(grid-item) {
    outline: 1px solid #202025;
    transition: outline 10ms linear;

    &:hover {
        outline: 1px solid rgb(100, 46, 114);
    }
}

.grid::part(item-row-border) {
    font-weight: bold;
    background-color: #25252b;

    &:hover {
        background-color: #28282e;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vl-section {
    padding: 0 20px;
    margin-bottom: 24px;
    width: calc(100% - 40px);
    max-width: 640px;

    &.cap {
        margin-bottom: 24px;

        .logo {
            width: 100%;
        }

        .version {
            color: #3b3b3b;
            font-size: 10px;
            text-transform: uppercase;
            margin-bottom: 10px;
            letter-spacing: 0.5px;
            font-weight: 800;
            width: 100%;

            &>span {
                width: 100%;
                display: flex;
                justify-content: center;
            }
        }
    }

    &__container {
        width: 100%;

        &>h2 {
            color: #5a3e85;
            font-size: 12px;
            text-transform: uppercase;
            margin-bottom: 10px;
            letter-spacing: 0.5px;
            font-weight: 800;
        }

        margin-bottom: 18px;
    }

    &>h1 {
        background: -webkit-linear-gradient(0deg, #6f00e2 0%0%, #6f00e2 30%, #f90058 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 19px;
        font-weight: 800;
        text-transform: uppercase;
        margin: 0;
        padding: 0;
        letter-spacing: 0.5px;
        margin-bottom: 9px;

        &.center {
            width: 100%;
            text-align: center;
        }
    }

    &>p {
        &.l {
            color: #505050;
            background: unset;
            width: 100%;
            letter-spacing: 2px;
            font-size: 10px;
            text-transform: uppercase;
            margin: 0;
            text-align: center;
            margin-bottom: 0px;
            -webkit-background-clip: initial;
            -webkit-text-fill-color: initial;

            &.m {
                color: #3b3b3b;
                margin-bottom: 20px;
            }
        }

        background: -webkit-linear-gradient(0deg, #6f00e2 0%0%, #6f00e2 30%, #f90058 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 10px;
        font-weight: 800;
        text-transform: uppercase;
        letter-spacing: 0.5px;
        margin: 0;
        padding: 0;
    }

    &.block {
        padding: 20px 20px 4px;
    }

    .scroll-to__controls {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr auto;
        gap: 8px;
        margin-bottom: 8px;

        .scroll-to__input {
            outline: none;
            background-color: #1a1a1e;
            color: #9191c6;
            border-radius: 3px;
            box-shadow: 1px 2px 8px 4px rgba(0, 0, 0, 0.075);
            border: 2px solid #37265f;
            min-height: 24px;
            padding: 0 6px;

            &:focus,
            &:active {
                border: 2px solid rgb(114, 87, 46);
            }
        }

        .scroll-to__button {
            background-color: #37265f;
            padding: 0 8px;
            border-radius: 3px;
            box-shadow: 1px 2px 8px 4px rgba(0, 0, 0, 0.075);
            color: #000000;
            text-shadow: 1px 2px 5px rgba(0, 0, 0, 0.25);
            text-transform: uppercase;
            letter-spacing: 1px;
            font-size: 11px;
            font-weight: 800;

            &:hover {
                background-color: #264c6e;
            }
        }
    }
}

.grid {
    width: 100%;
    border-radius: 3px;
    box-shadow: 1px 2px 8px 4px #00000013;
    border: 1px solid #383844;
    background-color: #1a1a1e;

    &::part(scroller) {
        color: #71718c;
        background-color: #1a1a1e;
        scroll-behavior: auto;

        /* custom scrollbar */
        &::-webkit-scrollbar {
            width: 16px;
            height: 16px;
        }

        &::-webkit-scrollbar-track,
        &::-webkit-scrollbar-corner {
            background-color: #1a1a1e;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #383844;
            border-radius: 20px;
            border: 6px solid transparent;
            background-clip: content-box;
            min-width: 60px;
            min-height: 60px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: #3d3d4d;
        }
    }

    &::part(item) {
        scroll-behavior: auto;

        /* custom scrollbar */
        &::-webkit-scrollbar {
            width: 16px;
            height: 16px;
        }

        &::-webkit-scrollbar-track,
        &::-webkit-scrollbar-corner {
            background-color: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: #71718c;
            border-radius: 20px;
            border: 6px solid transparent;
            background-clip: content-box;
            min-width: 60px;
            min-height: 60px;
        }

        &::-webkit-scrollbar-thumb:hover {
            background-color: #7e7e99;
        }
    }

    &__item-container {
        height: auto;
        width: auto;
        display: flex;
        align-items: center;
        box-sizing: border-box;

        &>span {
            width: auto;
            display: flex;
            word-wrap: break-word;
            word-break: break-all;
            letter-spacing: 1px;
            height: auto;
            padding: 8px;
        }
    }

    &__group-container {
        height: 100%;
        width: 100%;
        font-weight: 600;
        font-size: 12px;
        text-transform: uppercase;
        display: flex;
        align-items: center;

        &>* {
            height: auto;
        }
    }

    &.vertical {
        max-height: unset;
        height: 240px;
        width: 100%;
    }
}