<div class="wrapper">
  <div class="vl-section block cap">
    <h1 class="center">ng-virtual-grid</h1>
    <p class="l">Maximum performance for extremely large grids</p>
    <p class="l">Animation of elements is supported.</p>
    <p class="l m">&#64;author: djonnyx&#64;gmail.com</p>
    <img class="logo" [src]="logo" />
    <div class="version"><span>v 19.0.0-beta-30</span></div>
  </div>

  <div class="vl-section">
    <div class="vl-section__container">
      <h2>Virtual grid</h2>
      <ng-virtual-grid class="grid regular" [items]="groupItems" [itemRenderer]="itemRenderer" [columnSize]="90"
        [rowSize]="38" [bufferSize]="5" (onItemClick)="onItemClick($event)"></ng-virtual-grid>
    </div>
  </div>

  <div class="vl-section">
    <div class="vl-section__container">
      <h2>Virtual grid (dynamic row size with resize)</h2>
      <ng-virtual-grid class="grid" [resizeRowsEnabled]="true" [resizeColumnsEnabled]="true" [items]="groupDynamicItems"
        [columnsSize]="groupDynamicColumnsSize" [rowsSize]="groupDynamicRowsSize" [itemRenderer]="itemRenderer"
        [minColumnSize]="32" [minRowSize]="32" [columnSize]="300" [rowSize]="32" [bufferSize]="5" [snap]="true"
        [cellConfigRowsMap]="groupDynamicItemsRowConfigMap" [cellConfigColumnsMap]="groupDynamicItemsColumnConfigMap"
        (onRowsSizeChanged)="onRowsSizeChangedHandler($event)" (onItemClick)="onItemClick($event)"
        (onColumnsSizeChanged)="onColumnsSizeChangedHandler($event)"></ng-virtual-grid>
    </div>
  </div>

  <div class="vl-section">
    <div class="vl-section__container">
      <h2>Virtual grid (Scroll to item)</h2>
      <div class="scroll-to__controls">
        <input type="number" class="scroll-to__input" [(ngModel)]="itemId" [required]="true" [min]="minId"
          [max]="maxId">
        <button class="scroll-to__button" (click)="onButtonScrollToIdClickHandler($event)">Scroll</button>
      </div>
      <ng-virtual-grid #grid class="grid" [resizeRowsEnabled]="true" [resizeColumnsEnabled]="true"
        [items]="groupDynamicItems" [columnsSize]="groupDynamicColumnsSize" [rowsSize]="groupDynamicRowsSize"
        [itemRenderer]="itemRenderer" [minColumnSize]="32" [minRowSize]="32" [columnSize]="300" [rowSize]="32"
        [bufferSize]="5" [snap]="true" [cellConfigRowsMap]="groupDynamicItemsRowConfigMap"
        (onItemClick)="onItemClick($event)" [cellConfigColumnsMap]="groupDynamicItemsColumnConfigMap"></ng-virtual-grid>
    </div>
  </div>

  <div class="vl-section">
    <div class="vl-section__container">
      <h2>Virtual grid (flexible columns)</h2>
      <ng-virtual-grid class="grid" [resizeRowsEnabled]="true" [resizeColumnsEnabled]="true"
        [items]="groupDynamicItems1" [columnsSize]="groupDynamicColumnsSize1" [rowsSize]="groupDynamicRowsSize1"
        [itemRenderer]="itemRenderer" [minColumnSize]="32" [minRowSize]="32" [columnSize]="300" [rowSize]="32"
        [bufferSize]="5" [snap]="true" [cellConfigRowsMap]="groupDynamicItemsRowConfigMap1"
        [cellConfigColumnsMap]="groupDynamicItemsColumnConfigMap1" (onViewportChange)="onViewportChangeHandler($event)"
        (onItemClick)="onItemClick($event)" (onRowsSizeChanged)="onRowsSizeChangedHandler($event)"></ng-virtual-grid>
    </div>
  </div>

  <ng-template #itemRenderer let-data="data" let-measures="measures">
    @if (data) {
      <div class="grid__item-container" [part]="data.isBorderStart?'border-start':data.isBorderEnd?'border-end':'simple'"
        [class.border]="data.isBorder">
        <span>{{data.value}}</span>
      </div>
    }
  </ng-template>
</div>